.full_component {
  padding-left: 5vw;
  position: relative;
  width: 80vw;
  aspect-ratio: 1/1;
  height: 65%; /* revert 100% if error */
}

.post {
    background-color: #d3c1c39c; /* Black with 70% opacity */
    backdrop-filter: blur(5px);
    border-radius: 20px 0px 0px 20px;
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .post_header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .post_headerContent {
    display: flex;
    padding-top: 1vh;
    width: 100%;
    align-items: center; /* Vertically align items */   
    flex-wrap: wrap;
  }
  .post_headerContent {
    margin-left: 15vw; /* Add some space between avatar and text */
  }  

  .post_headerText h3 { 
    display: inline; /* Make the h3 element inline */
    margin: 0;       /* Remove default margin */
  }
  .post_body {
    display: grid;
    max-width: 60vw;
  }
  .image-container {
    position: relative;
    overflow: hidden;
    object-fit: cover;
    aspect-ratio: 1/1;
    height: 30vh;
    width: 100%;
    max-width: 100%;
    padding-inline: 5px;
  }

  .post_image{
    position: relative;
    height: 100%;
    width: 100%;
    align-self: center;
    max-height: 600px;
    max-width: 810px;
    transition: transform 0.3s ease;
    background-color: rgba(255, 0, 0, 0.212);
  }

  .footer_buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    bottom: 10vh;
  }

  .post .footer_buttons button { /* Adjust the selector to target your buttons */
    background-color: transparent;
    border: none; 
    filter: drop-shadow(0 5px rgba(153, 153, 153, 0.671)) ;
  }

  .post_description {
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    overflow-wrap: break-word; 
    max-height: 15vh;
    overflow-y: auto;
  }

  .comments_container {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 0;
    right: 0;
    width: 30vw;
    height: 60vh;
    background-color: #d3d4d9;
    backdrop-filter: blur(5px);
    border-radius: 0px 15px 15px 0px;
    text-wrap: pretty;
    overflow-wrap: break-word;
    overflow-y: auto;
  }


  ::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
  }
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the thumb */
    border-radius: 5px; /* Add a rounded corner to the thumb */
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Change color on hover */
  }