.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  justify-content: flex-start;
  gap: 10px;
}
.menu-column {
  display: flex;
  flex-direction: column;
  width: 7vw;
  height: 100vh; 
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  gap: 20px;
  top: 0;
  left: 0;
}
.feed-column {
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  align-items: center;
  justify-content: flex-start;
}

.sugerence-column {
  display: flex;
  position: sticky;
  flex-direction: column;
  width: 43vw;
  height: 100vh;
  align-items: center;
  justify-content: flex-start;
}

.menu-column:first-child { 
  border-right: 5px solid #a8a8a84f;
}

.menu-container::before {
  content: '';
  display: block;
  width: 1px; 
  height: 100%;
}
.menu-button{
  background-color: transparent;
  border: none;
  border-radius: 100%;
  height: 5vh;
  width: 5vw;
  margin: 5%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 5px rgba(153, 153, 153, 0.671)) ;
}

.menu-container .menu_button button {
  border: none; 
  padding: 0;
}

body {
  background-color: darkcyan;
}
.gif {
  position: absolute;
  animation: moveGifDiagonal 60s linear infinite; /* Example duration */
}
@keyframes moveGifDiagonal {
  0% {
    transform: translate(0, 0) rotatez(40deg);
  }
  100% {
    transform: translate(100vw, 100vh) rotateZ(40deg);; /* Move to bottom-right corner */
  }
}

.gif:nth-child(1) {
  animation: moveGifDiagonal 10s linear infinite;
  left:  0px; 
  top: -100px;
}
.gif:nth-child(2) {
  animation: moveGifDiagonal 12s linear infinite;
  left:  0px;
  top: -300px;
}
.gif:nth-child(3) {
  animation: moveGifDiagonal 10s linear infinite;
  left:  0px; 
  top: -400px;
}
.gif:nth-child(4) {
  animation: moveGifDiagonal 12s linear infinite;
  left:  0px;
  top: -500px;
}
.gif:nth-child(5) {
  animation: moveGifDiagonal 10s linear infinite;
  left:  0px; 
  top: -500px;
}