.web-header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  top: 0;
  position:fixed;
  text-align: center;
  z-index: 2;
  left: 0;
  width: 100vw;
  height: 70px;
  background-color: azure;
}
.web-header h1{
  padding: 0;
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  justify-content: flex-start;
  gap: 10px;
  margin-left: 70px;
}
.menu-column {
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 255, 255, 0.788);
  backdrop-filter: blur(5px);
  top:70px;
  width: 60px;
  height: 100vh; 
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  gap: 20px;
  left: 0;
  z-index: 10;
}
.content-column {
<<<<<<< Updated upstream
  /* margin-left: 10vw; */
=======
  margin-left: 10vw;
>>>>>>> Stashed changes
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100%;
  top:70px;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 800px;
}

.sugerence-column {
  display: flex;
  position: sticky;
  flex-direction: column;
  width: 43vw;
  height: 80vh;
  top:70px;
  align-items: center;
  justify-content: flex-start;
}

.menu-column:first-child { 
  border-right: 5px solid #a8a8a84f;
}

.menu-container::before {
  content: '';
  display: block;
  width: 1px; 
  height: 100%;
}
.menu-button{
  background-color: transparent;
  border: none;
  border-radius: 100%;
  height: 5vh;
  width: 5vw;
  margin: 5%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 5px rgba(158, 158, 158, 0.925)) ;
}

.menu-container .menu_button button {
  border: none; 
  padding: 0;
}

.content-container{
  margin-top: 70px;
}

body {
  background-color: rgb(0, 0, 58);
}
.gif {
  position: absolute;
  animation: moveGifDiagonal 60s linear infinite;
}
@keyframes moveGifDiagonal {
  0% {
    transform: translate(0, 0) rotatez(40deg);
  }
  100% {
    transform: translate(100vw, 100vh) rotateZ(40deg);
  }
}
@keyframes moveGifDiagonal2 {
  0% {
    transform: translate(100vh, 0) rotateZ(-30deg) rotateY(-180deg);
  }
  100% {
    transform: translate(-100vw, 100vh) rotateZ(-30deg) rotateY(-180deg);
  }
}

.gif:nth-child(1) {
  animation: moveGifDiagonal 20s linear infinite;
  left:  0px; 
  top: -100px;
}
.gif:nth-child(2) {
  animation: moveGifDiagonal 22s linear infinite;
  left:  0px;
  top: -200px;
}
.gif:nth-child(3) {
  animation: moveGifDiagonal 30s linear infinite;
  left:  0px; 
  top: -300px;
}
.gif:nth-child(4) {
  animation: moveGifDiagonal 23s linear infinite;
  left:  0px;
  top: -500px;
}
.gif:nth-child(5) {
  animation: moveGifDiagonal 20s linear infinite;
  left:  0px; 
  top: -500px;
}

.gif:nth-child(6) {
  animation: moveGifDiagonal2 25s linear infinite;
  right:  50px; 
  top: -60px;
}
.gif:nth-child(7) {
  animation: moveGifDiagonal2 18s linear infinite;
  right:  0px; 
  top: -10px;
}
.gif:nth-child(8) {
  animation: moveGifDiagonal2 16s linear infinite;
  right:  0px; 
  top: -50px;
}