.container {
  display: flex;
  gap: 10px;
}
.menu-column {
  display: flex;
  flex-direction: column;
  width: 7vw;
  height: 100vh; 
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  gap: 20px;
  top: 0;
  left: 0;
}
.feed-column {
  /* padding-left: 3vw; */
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 100vh;
  align-items: center;
  justify-content: flex-start;
}

.menu-column:first-child { 
  border-right: 1px solid #929292b6;
}

.menu-container::before {
  content: '';
  display: block;
  width: 1px; 
  height: 100%;
}
.menu-button{
  background-color: transparent;
  border: none;
  border-radius: 100%;
  height: 5vh;
  width: 5vw;
  margin: 5%;
  background-color: #453a7457;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-container .menu_button button {
  background-color: transparent;
  border: none; 
  padding: 0;
}